Binaries/*
DerivedDataCache/*
Intermediate/*
Saved/*
*.suo
*.sln
*.sdf
*.opensdf
*.opendb
Saved/*
*.r16
*.ter
*.VC.db
Build/*NoEditor
.~*
Build/HTML5
.vs
.prebuild.cache
Source/TheShankening3D/Public
CookerOpenOrder.log

!Screenshots
